a,
a:visited,
a:hover {
	color: #357fff;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: #03bcff;
}

.container {
	padding: 10px 20px;
	width: 340px;
}

.header {
	align-items: center;
	display: flex;
}

.header h1 {
	display: inline;
}

.header img {
	height: 30px;
	margin-right: 10px;
	width: 30px;
}

#open-options-link {
	font-size: 150%;
}

.credits {
	font-size: 80%;
	margin-top: 30px;
}
